/* Base styles */
.password-strength-container {
    margin-top: 0.5rem;
    background: #111;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 1.5rem;
    position: absolute;
    top: 73px;
    right: 10px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .strength-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.25rem;
  }
  
  .strength-label {
    color: #718096;
    font-size: 0.875rem;
  }
  
  .strength-text {
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .strength-meter {
    display: flex;
    gap: 0.25rem;
    height: 2px;
  }
  
  .strength-segment {
    height: 2px;
    border-radius: 999px;
    transition: background-color 0.3s ease;
  }
  

  
  .criteria-item {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
  }
  
  .check-icon {
    color: #48BB78;
    margin-right: 0.25rem;
    font-size: 14px;
  }
  
  .cross-icon {
    color: #718096;
    margin-right: 0.25rem;
    font-size: 14px;
  }
  
  .criteria-text {
    font-size: 0.875rem;
    color: #718096;
  }
  
  .criteria-text.met {
    color: #48BB78;
  }

  .criteria-container{
    display: flex;
    flex-direction: column;
  }
  
  /* Transition effects */
  .strength-segment {
    transition: background-color 0.3s ease;
  }
  
  .criteria-text {
    transition: color 0.3s ease;
  }