#skillset{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    padding-bottom: 150px;
    border-bottom: 1px solid #c5c5c584;
}

#skillset h2{
    font-size: 48px;
    line-height: 3.75rem;
    letter-spacing: 0.025em;
    margin-bottom: 24px;
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;

}


#skillset h2 span{
    display: inline-block;
    font-family: "Inter", sans-serif;
    background-color: #0f201f;
    color: #5eead4;
    padding: 0 8px;
    border-right: 3px solid #5eead4;
    border-radius: 4px 0 0 4px;
    margin-top: 16px;
}
